<body id="background">

<!--<div class="site-wrapper">-->

  <!--<div class="site-wrapper-inner">-->

    <!--<div class="cover-container">-->

      <!--<div class="masthead clearfix">-->
        <!--<div class="inner">-->
        <!--</div>-->
      <!--</div>-->

      <!--<div class="inner cover">-->
        <!--<h1 id="head" class="cover-heading">Welcome to The Conference Room </h1>-->
        <!--<p class="lead">-->
          <!--<a> <%= link_to 'ENTER HERE', rooms_path, class: 'btn btn-lg btn-success' %></a>-->
        <!--</p>-->
      <!--</div>-->

    <!--</div>-->

  <!--</div>-->

<!--</div>-->



<body id="background">
<
<video id="video1" autoplay="true" height="100%" loop="loop" onended="this.play()">
  <source src="https://d3mlfyygrfdi2i.cloudfront.net/a144/hploop_0204.mp4" type="video/mp4">
  <source src="https://d3mlfyygrfdi2i.cloudfront.net/90da/hploop_0204.webm" type="video/webm">
  <img src="https://d3mlfyygrfdi2i.cloudfront.net/9d45/hploop_0204.jpg">
  You need an HTML5 enabled browser to view this video.
</video>


</body>