// Place all the styles related to the session controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//
//body {
//  background: url(ironyard.jpg) no-repeat center center fixed;
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
//}

body#background {
  background: url('https://s3.amazonaws.com/vrconferenceroom/ironyard.jpg') no-repeat 50% 50% fixed;
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}


body#background {
  height: 100%;
}
body#background {
  color: #fff;
  text-align: center;

}

h1#head {
  text-shadow: 0 1px 3px rgba(232, 44, 17, 0.96);
  color: rgba(232, 161, 16, 0.99);
}