<% if flash[:notice] %>
    <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %>
<% if flash[:error] %>
    <div class="alert alert-danger"><%= flash[:error] %></div>
<% end %>
<% if flash[:warning] %>
    <div class="alert alert-warning"><%= flash[:warning] %></div>
<% end %>